.image0{
 width: 120px;
 height: 120px;
 padding: 200px;
 background: url('toto.png') -0px 0px;
  

 }.image1{
 width: 180px;
 height: 180px;
 padding: 200px;
 background: url('toto.png') -320px 0px;
  

 }.image2{
 width: 227px;
 height: 320px;
 padding: 200px;
 background: url('toto.png') -700px 0px;
  

 }